
<footer id="footer" class="footer-1" *ngIf="foot.visible">
  <div class="main-footer widgets-dark typo-light">
  <div class="container">
  <div class="row">

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget subscribe no-box">
  <h5 class="widget-title">Plant a Seed<span></span></h5>
  <p>Plant a seed is a non-profit organization as an environmental charity </p>

  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-2">
  <div class="widget no-box">
  <h5 class="widget-title">Quick Links<span></span></h5>
  <ul class="thumbnail-widget">
  <li>
  <div class="thumb-content"><a [routerLink] = "['/portfolio']">Portfolio</a></div>
  </li>
  <li>
  <div class="thumb-content"><a [routerLink] = "['/contact']">Contact us</a></div>
  </li>
  <li>
  <div class="thumb-content"><a [routerLink] = "['/about']">About</a></div>
  </li>
  <li>
  <div class="thumb-content"><a [routerLink] = "['/login']">Get Involved</a></div>
  </li>
  </ul>
  </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-3">
  <div class="widget no-box">
  <h5 class="widget-title">Get Started<span></span></h5>
  <p>Let's start from today, Greenify is calling you. Come, Let's together spread the love .</p>
  <a class="btn" [routerLink] = "['/signup']" target="_blank">Register Now</a>

  </div>
  </div>

  <div class="col-xs-20 col-md-6 col-lg-3">

  <div class="widget no-box">
  <h5 class="widget-title">Contact Us<span></span></h5>

  <p style="font-size: 14px;">You can plant trees almost everywhere! That’s why we are also present everywhere on the web, so that we can convince as many people as possible to join us: <a href="#" title="plantaseed" style="color:rgb(230, 215, 16)">info@plantaseed.org</a></p>
  <div class="template-demo"> <a href="https://www.facebook.com"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a><a href="https://twitter.com"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a> <a href="https://in.linkedin.com/"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a><a href="https://web.whatsapp.com/"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>

  </div>
<br>
  </div>

</div>



</div>
  </div>
  </div>


  <div class="footer-copyright">
  <div class="container">
  <div class="row">
  <div class="col-md-12 text-center">
    <p>Copyright Plant a Seed © 2019. All rights reserved.Website Developed & Designed by Bhagya Vijayan</p>
  </div>
  </div>
  </div>
  </div>
  </footer>








