
<!-- Material form register -->
<div class="card">
  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="form-group" #adoptPlant="ngForm" (ngSubmit)=adopt() style="color: #757575;" action="#!">

          <div class="form-row">
              <div class="col">
                  <!-- Full name -->
                  <div class="md-form">
                    <input type="text" [(ngModel)]="userDetails.full_name" class="form-control" id="full_name_id" name="full_name" required>
                    <label for="Name">Name</label>
                  </div>
              </div>
              <div class="col">
                  <!-- Email -->
                  <div class="md-form">
                      <input type="email" [(ngModel)]="userDetails.email" #email="ngModel" [class.is-invalid]="email.invalid && email.touched" class="form-control" id="email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                      <label for="email">Email</label>
                  </div>
              </div>
          </div>

          <!-- Address -->
          <div class="md-form mt-0">
              <input type="text" [(ngModel)]="userDetails.address" class="form-control" id="address" name="address" required>
              <label for="address">Address</label>
          </div>

          <div class="form-row">
            <div class="col">
                <!-- Phone-->
                <div class="md-form">
                  <input type="text" [(ngModel)]="userDetails.phone" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" id="phone" name="phone" minlength="10" required>
                  <!-- <small class="text-danger" [class.d-none]= "phone.valid || phone.touched"></small> -->
                  <label for="phone">Phone</label>
                </div>
            </div>
            <div class="col">
                <!-- Last name -->
                <div class="md-form">
                    <input type="text" [(ngModel)]="userDetails.location" class="form-control" id="location" name="location" required>
                    <label for="email">Location</label>
                </div>
            </div>
        </div>
          <!-- Phone number -->
          <div class="md-form">
            <input type="text" [(ngModel)]="userDetails.zip" class="form-control" id="zip" name="zip" required>
            <label for="zip">Zip</label>
          </div>

          <!-- Terms of service -->
          <p>By clicking
            <b>Submit</b> you agree to our
            <a routerLink="/notfound" target="_blank">terms of service</a>
            </p>
          <!-- Newsletter -->
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
              <label class="form-check-label" for="materialRegisterFormNewsletter">Yes, I'd like to stay informed and receive the Plant a Seed Newsletter.</label>
          </div>

          <!-- Submit button -->
          <button type="submit" [disabled]="adoptPlant.form.invalid" class="btn btn-primary">Submit</button>

          <!-- Social register -->
          <br>
          <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
          </a>
          <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
          </a>

          <hr>

      </form>
      <!-- Form -->

  </div>
</div>
<!-- Material form register -->
