<section id="service">
  <div class="container">
   <div class="row">
    <div class="col-md-12">
     <div class="section_title text-center">
       <h2>What We Do</h2>
        <div class="brand_border">
         <i class="fa fa-minus" aria-hidden="true"></i>
         <i class="fas fa-handshake"></i>
         <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <input type="checkbox" class="read-more-state" id="post-1" />

      <p class="read-more-wrap" style="text-align:justify; text-align-last: center;" >Plant a seed is a non-profit organization. As an environmental charity we're on a mission to make it simple for anyone to help<br> the environment by planting trees!<span class="read-more-target" >As an environmental charity, we are dedicated to making it easier for individuals and businesses to give back to the environment, create a healthier climate, protect biodiversity and help reforestation efforts around the world. All by planting trees and Plants

        Started in 2019, we have more than doubled the number of trees planted year over year. Fast-forward to today, we now work with awesome reforestations partners in Kerala and Tamil Nadu who help us get trees in the ground to restore forests after fires and floods, create jobs, build communities, and protect habitat for biodiversity.

        In 2019, we were able to Plant more trees in the ground than ever before – 50,000!</span>
        <label for="post-1" class="read-more-trigger" style="background-color: rgb(68, 110, 5);"></label>
      </p>


    </div>

    <!-- <div>
     </div> -->
    <!--  -->
    <!-- <div>
      <p style="font-weight: bold;">Plant a seed is a non-profit organization. As an environmental charity<br> we're on a mission to make it simple for anyone to help the environment by planting trees!</p>



    </div> -->



    <!--  -->

    </div>
  </div>
 <div class="row">
  <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-eye fa-1x" aria-hidden="true"></i>
      </div>
     </div>
     <div class="single_service-body">
      <h4 class="single_service-heading">Our Vision</h4>
      <p>We imagine a world where communities and nations sustainably manage their forests and natural resources for the benefit of our climate, our environment and humanity.</p>
     </div>
    </div>
   </div><!--/END SINGLE SERVICE AREA-->
   <!--START SINGLE SERVICE AREA-->
   <div class="col-md-6 col-lg-4 col-sm-12">
    <div class="single_service hvr-curl-top-right">
     <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-leaf fa-1x" aria-hidden="true"></i>
      </div>
     </div>
     <div class="single_service-body">
       <h4 class="single_service-heading">Our Mission</h4>
       <p>We work for developing lush-green world for the future generations,With our each  sapling. We intend to create a repository for a  bio diverse planet</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
      <i class="fa fa-balance-scale fa-1x" aria-hidden="true"></i>
     </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Our Values</h4>
      <p>The values that inspire our work are: Integrity, Transparency, Excellence, Collaboration, Passion, and Courage.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
      <i class="fa fa-line-chart fa-1x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="single_service-body">
      <h4 class="single_service-heading">Our goal</h4>
      <p>Our goal is to  to create a green and clean planet through tree plantation. Along with our diligent greening efforts, we promote extensive agriculture across the nation and making it a happy-green paradise</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
     <div class="icon">
      <i class="fa fa-user-plus fa-1x" aria-hidden="true"></i>
        </div>
    </div>
    <div class="single_service-body">
       <h4 class="single_service-heading">Volunteer with Us</h4>
       <p> Let's start from today, Greenify is calling you. Come, Let's together spread the love .</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
  <!--START SINGLE SERVICE AREA-->
  <div class="col-md-6 col-lg-4 col-sm-12">
   <div class="single_service hvr-curl-top-right">
    <div class="single_service-left">
      <div class="icon">
        <i class="fa fa-heartbeat fa-1x" aria-hidden="true"></i>
            </div>
    </div>
   <div class="single_service-body">
      <h4 class="single_service-heading">Spread the love</h4>
      <p>If you love your life, you must plant a tree. Planting trees symbolizes growing deeper and stronger roots and a meaningful connection with Nature.</p>
    </div>
   </div>
  </div><!--/END SINGLE SERVICE AREA-->
 </div>
</div>
<div class="abtfooter" style="margin-left: 30%; padding-bottom: 0;">
  <img src="../assets/images/footer1.png" alt="">
  </div>
</section><!--/END SERVICE AREA-->

