<div class="card">
  <img src="https://i.pinimg.com/originals/e8/88/d4/e888d4feff8fd5ff63a965471a94b874.gif" alt="Denim Jeans" style="width:100%; height: 90%;">
  <h4>We have Planted more than 50,000+ trees in the year</h4>
  <p class="price">2019</p>
  <p>Click here to download the report</p>
  <p>
  <a href="../assets/docs/report.pdf" download="report.pdf"><button style="background-color:#678835;">Download</button></a>
<!-- <p>    <button type="submit" style="background-color:#678835;">Download</button> -->
</p>

</div>
