
<div class="container">
  <form id="contact" action="" method="post">
    <h3>Quick Contact<i class="fa fa-leaf" aria-hidden="true" style="color:rgb(103,136,53);"></i></h3>
    <h4><i class="fa fa-home" aria-hidden="true"></i> Building No:13A,4th Block,SigmaSoft Tech,Bangalore, 560067</h4>
    <h4 style="float: left;"><i class="fa fa-envelope" aria-hidden="true"></i> info@plantaseed.org</h4>
    <h4 style="float: right;"><i class="fa fa-phone" aria-hidden="true"></i> 080-2325871</h4><br>
    <h4 style="color: yellow;">Contact us today, and get reply with in 24 hours!</h4>
    <fieldset>
      <input placeholder="Your name" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Your Email Address" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>


</div>



