
<!-- Material form register -->
<div class="card">
  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="form-group"  style="color: #757575;" action="#!">

          <div class="form-row">
              <div class="col">
                  <!-- Full name -->
                  <div class="md-form">
                  </div>
              </div>
              <div class="col">
                  <!-- Email -->
                  <div class="md-form">
                  </div>
              </div>
          </div>

          <!-- Address -->
          <div class="md-form mt-0">
          </div>

          <div class="form-row">
            <div class="col">
                <!-- Phone-->
                <div class="md-form">
                </div>
            </div>
            <div class="col">
                <!-- Last name -->
                <div class="md-form">
                </div>
            </div>
        </div>
          <!-- Phone number -->
          <div class="md-form">
          </div>


          <div class="form-check">
            <p style="font-size: 26px; font-weight: bold;">Oops!! This  page is still in seed<br><br> <img src="../assets/images/tree1.png" alt="" style="width: 10%; height:10%"></p><br><p>Our developers are planting now<br> No worries, you can go back to the previous page </p>
          </div>

          <!-- Submit button -->
          <button type="submit" routerLink="/user" class="btn btn-primary">BACK</button>
          <p style="margin-left: 3%;">Or pick any tools below to join with them...</p>
          <!-- Social register -->
            <div class="template-demo" style="margin-left: 5%;"> <a routerLink="/portfolio"><img src="../assets/images/garden.png" alt="" style="width: 5%; height:5%"></a>
              <a style="padding-left:15px;" routerLink="/donate"><img src="../assets/images/watering-can.png" alt="" style="width: 5%; height:5%">
            </a>  <a style="padding-left:15px;" routerLink="/contact"><img src="../assets/images/gardening.png" alt=""style="width: 5%; height:5%">
            </a> <a style="padding-left:15px;" routerLink="/about"><img src="../assets/images/harvest.png" alt=""style="width: 5%; height:5%">
            </a>

        </div>

      </form>
      <!-- Form -->

  </div>
</div>
<!-- Material form register -->
