
  <p class="item-1" style="font-weight: bold;"><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i><br>
    I'm planting a tree to teach me to gather <br>strength from my deepest roots.<br><p style="font-size:medium;">― Andrea Koehle Jones</p>
  </p>

  <p class="item-2" style="font-weight: bold;"><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i><br>
    The best time to plant a tree was 20 years ago.<br> The second best time is now.
  </p>
  <p class="item-3" style="font-weight: bold;"><i class="fa fa-quote-right fa-2x" aria-hidden="true"></i><br>
   Reversing deforestation is complicated;<br> planting a tree is simple.<br><p style="font-size:medium;">– Martin O’Malley</p>
  </p>


