  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/images/CAROUSEL1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>Our Team plant Fruit Trees in Public Places</h2>
            <p class="subdetail">
              Fruits are Available and Accessible for All
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/images/CAROUSEL2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>We Fight Malnutrition and Starvation Death of plants  in public places and wayside</h2>
            <p class="subdetail">
              work with school students and village youth volunteers</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/images/CAROUSEL3.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h2>We Save and Plant every Seed
              Biodiversity is Enhanced and Honey Bees Protected</h2>
            <p class="subdetail">
              We makes it compulsory to plant fruit trees, that ensure food to honeybees, birds and animals</p>
          </div>
        </div>
      <div class="carousel-item">
        <img src="../assets/images/CAROUSEL4.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>Hills and mountains are adopted by WePlant based on the availability of resources and volunteers</h2>
          <p class="subdetail">
            More trees on mountain also help in reviving natural water streams.</p>
        </div>
      </div>
    </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>



  <!-- Testimonial -->

  <!-- Section: Testimonials v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h4 class="h1-responsive font-weight-bold my-3" style="color: white;">Testimonials</h4>

  <div class="wrapper-carousel-fix">
    <!-- Carousel Wrapper -->
    <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel"
      data-interval="2000">
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid"
                alt="First sample avatar image" style="width: 100px;">
            </div>
            <!--Content-->
            <p style="color: white;">
              <i class="fas fa-quote-left"></i> A NGO that truly works for the upliftment and betterment of society with its vision of considering children as the future of the country......<br>.Great going.......wish you best of luck.......Plant A  Seed  <i class="fas fa-quote-right"></i>
            </p>
            <h4 class="font-weight-bold" style="color: white;">Anna Deynah</h4>
            <h6 class="font-weight-bold my-3" style="color: white;">Founder at ET Company</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star-half-alt blue-text"> </i>
          </div>
        </div>
        <!--First slide-->
        <!--Second slide-->
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg" class="rounded-circle img-fluid"
                alt="Second sample avatar image" style="width: 100px;">
            </div>
            <!--Content-->
            <p style="color: white;">
              <i class="fas fa-quote-left"></i>We truly cannot think of anything more that could have done that he didn’t do. We could not have accomplished this move without his efforts. In our view it was exceptional and should be recognized as such. We will be grateful for all he did for us for the rest of our lives <i class="fas fa-quote-right"></i> </p>
            <h4 class="font-weight-bold" style="color: white;">Maria Kate</h4>
            <h6 class="font-weight-bold my-3" style="color: white;">Photographer at Studio LA</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
          </div>
        </div>
        <!--Second slide-->
        <!--Third slide-->
        <div class="carousel-item">
          <div class="testimonial">
            <!--Avatar-->
            <div class="avatar mx-auto mb-4">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid"
                alt="Third sample avatar image" style="width: 100px;">
            </div>
            <!--Content-->
            <p style="color: white;">
              <i class="fas fa-quote-left"></i> It has always been pleasure to work with Plant a Seed. I have been working with plant a Seed from past 2 years and I can tell that the organization has dedication towards his work and tries to help the society in best possible way.<i class="fas fa-quote-right"></i> </p>
            <h4 class="font-weight-bold" style="color: white;">John Doe</h4>
            <h6 class="font-weight-bold my-3" style="color: white;">Front-end Developer in NY</h6>
            <!--Review-->
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="fas fa-star blue-text"> </i>
            <i class="far fa-star blue-text"> </i>
          </div>
        </div>
        <!--Third slide-->
      </div>
      <!--Slides-->
      <!--Controls-->
      <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button"
        data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button"
        data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--Controls-->
    </div>
    <!-- Carousel Wrapper -->
  </div>

</section>
<!-- Section: Testimonials v.2 -->

<!-- Graph section -->
<div class="bg">
<div class="how-section1">
  <h4 style="text-align:center ;color: rgb(92, 88, 88);" >Every Seed is a Plant waiting to Grow!!</h4>
  <div class="row">
      <div class="col-md-6 how-img">
          <img src="../assets/images/graph.png" class="img-fluid" style="width: 400px; height:284px" alt=""/>
      </div>
      <div class="col-sm-3">
          <h4 style="margin-left: -60%; color:rgb(103,136,53);">The Work in the <br>tree nursery</h4>
                      <h4 class="subheading" style="margin-left: -60%; color: gray;">The seedlings grow strong in
                       <br> our own tree nursery</h4>
      <p class="text-muted" style="margin-left:-60%;">We produce 20% more seedlings <br>than
        we need, so we can select<br> the best
        trees and keep our high <br>survival rate
        on the planting ground.<br> With 35 workers, we are growing <br>8 tree
        species.Each species sprouts <br>at a
        different time, so we schedule <br>when to
        seed each species.</p>

      </div>

      <div class="col-sm-3">
        <h4 style="margin-left:-10%; color:rgb(103,136,53);">Early Summer Until Winter</h4>

                          <h4 class="subheading" style="margin-left: -10%; color:gray;">We take care of
                            all the trees we have planted. </h4>
                          <p class ="text-muted"style="margin-left:-10%;">It is really important to clear the area
                            of weeds on a regular basis so that
                            the trees can grow freely. We need to
                            clean the area every 3 months
                            so the trees get enough sunlight and
                            we keep our 94% survival rate.</p>
      </div>
  </div>

  <div class="bord">

    <img src="../assets/images/illustration.jpg" alt="" style="width: 100%; height: 40%;  ">

  </div>

</div>

<img class="footimage" src="../assets/images/Portfolio.png" alt="" style="width: 100%; height: 40%;">

